p{
	color: rgb(0, 0, 0);
	font-size: 1.2em;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
	font-family: sans-serif;
	text-align: center;
	background-color: #ff1616;
}
h2{ 
	font-family: arial;
	color: #ffffff;
	text-align: center;
	background-color: #6600cc;
}
small{
	color: rgb(207, 15, 250);
	font-size: 0.5em;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}
