@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
img{
    width: 300px;
    height: 200;
}
body{
    width: 80%;
    margin: auto;
    padding: 30px;
    font-size: 25px;
    font-family: 'Alkatra', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Sedgwick Ave Display', cursive;
}

.juice{
    border: solid 2px #000;
    height: 400px;    
}
.juice1{
    float: left;
}
.xxxtentacion{
    border: solid 2px #000;
    height: 400px; 
}
.xxx1{
    float:right;
}
.ternorei{
    border: solid 2px #000;
    height: 400px;
}