@charset "utf-8";
body{
    margin: 0;
    padding: 0;
    background: rgb(156, 154, 152);
}
.item {
  border: solid 1px #000;
}

.template1 {
    background: brown   ;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
}
.itemplate1 {
  margin: 5px;
  padding: 10px;
  background: pink;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.itemplate2 {
  margin: 5px;
  padding: 10px;
  background: violet;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}
.itemplate3 {
  margin: 5px;
  padding: 10px;
  background: yellow;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.template2 {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 3px;
}
.segundotemp1 {
    margin: 5px;
    background: yellowgreen;
    grid-column: 1 /4;
    grid-row: 1 /3;

}
.segundotemp2 {
    margin: 5px;
    background: gray;
    grid-column: 4 /6;
    grid-row: 1 /5;
    
}
.segundotemp3{
    margin: 5px;
    background: red;
    grid-column:1 /4 ;
    grid-row: 3 /7;

}
.template3 {
    margin: 10px;
    display: grid ;
    grid-template-columns: repeat( 4 , 1fr) ;
    grid-template-rows: repeat( 6, 1fr) ;

}
.terceirotemp1 {
    margin:5px;
    background: goldenrod;
    grid-area: 1/3/3/5;
}
.terceirotemp2 {
    margin:5px;
    background: lightcoral;
    grid-area: 4/2/3/4;
}
.terceirotemp3{
    margin:5px;
    background: indigo;
grid-area: 7/1/1/1;
}
.template4 {
    display: grid;
    grid-template-columns: repeat(4 , 1fr) ;
    grid-template-rows: repeat(5 , 1fr);
    gap: 10px;
}
.quartotemp1 {
    margin: 5px;
    grid-column: 1;
    background: gold;
    justify-self:stretch;
}

.quartotemp2 {
    margin: 5px;
    grid-column: 4;
    grid-row: 3;
    background: greenyellow;
    justify-self:center;
}
.quartotemp3{
    margin: 5px;
    grid-column: 2;
    grid-row: 5;
    background: palegreen;
    justify-self:flex-end;


}
.template5 {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(8 , 1fr) ;
    grid-template-rows: repeat(5 , 1fr);
    gap: 10px;

}

.quintotemp1 {
    margin: 5px;
background: rgb(255, 129, 3);
grid-column: 7/8 ;

}
.quintotemp2 {
    margin: 5px;
    background: rgb(46, 31, 17);
    grid-column: 
    grid-row: 
       
}
.quintotemp3{

}
.quintotemp4{

}
.template6 {
}
.sextotemp1 {
}
.sextotemp2 {
}
