@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}
img {
  width: 400px;
  height: 300px;
}
.float1 {
  float: left;
}
.float2 {
  float: right;
}
.mainborder{
 display: flex;
}
 div{
  border: solid 1px #000;
  
}
p{
  font-size: 27px;
}
@media only screen and (max-width: 414px) {
  .mainborder {
    display: inline-block;
    background-color: lightblue;
    text-align: center;
  }
  img {
    width: 200px;
    height: 150px;
  }
}

