@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}
img {
  width:10em;
  height:7em;
}
body {

  width:100em;
  margin: auto;
  padding: 10px;
  font-size: 25px;
  font-family: "Alkatra", cursive;
  font-family: "Kanit", sans-serif;
  font-family: "Sedgwick Ave Display", cursive;
}
.juicewrld{
border: solid 2px #000;
height: 15em;
}
.juicefloat{
    float: left;
}
.xxxtentacion{
    border: solid 2px #000;
    height: 15em;
}
.xxxfloat{
    float: right;
}
.ternorei{
    border: solid 2px #000;
    height: 20em;
}
@media(max-width:414px;){
    .juicewrld .xxxtentacion .ternorei{
        width:100em ;
    }
}


